    body{
        background-color: black;
        color: white;
    }
    .welcome{
        position: relative;
        left: 950px;
        top: 50px;
        padding: 1px;
        width: 150px;
        height: 100px;
    }
    .text{
        position: relative;
        top: 600px;
        left: 1850px;
        top: 780px;
        width: 20px;
        height: 5px;
        padding: 0.1px;
    }